<div class="flex justify-end mb-4">
  <div class="bg-green-400 p-3 rounded-lg max-w-xs">
    <p *ngIf="!isFileMessage()">{{ message }}</p>
    <img *ngIf="isFileMessage() && getMessageType().startsWith('image/')" [src]="fileUrl" alt="Uploaded Image" class="max-w-full h-auto" />
    <a *ngIf="isFileMessage() && getMessageType() === 'application/pdf'" [href]="fileUrl" target="_blank">View PDF</a>
    <a *ngIf="isFileMessage() && (getMessageType() === 'application/msword' || getMessageType() === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document')" [href]="fileUrl" target="_blank">View Document</a>
    <p *ngIf="isFileMessage()" class="text-xs text-gray-600">Uploaded File: {{ getFileName() }}</p>
    <span class="text-xs text-gray-600">8:55 AM, Today</span>
  </div>
  <img src="/user2.png" class="w-10 h-10 rounded-full ml-2">
</div>
