<div class="flex h-screen">
  <div class="flex-1 flex flex-col">
    <app-chat-header></app-chat-header>
    <div class="flex-1 overflow-y-auto p-4 main-background flex justify-center">
      <div class="w-full md:w-3/4">
        <ng-container *ngFor="let msg of messages">
          <!-- User Messages -->
          <app-requested-message
            *ngIf="msg.type === 'user'"
            [message]="msg.content || ''">
          </app-requested-message>

          <!-- AI Responses -->
          <app-record-message
            *ngIf="msg.type === 'ai'"
            [text]="msg.text || ''"
            [audioUrl]="msg.audioUrl || ''">
          </app-record-message>
        </ng-container>

        <!-- Loading Message -->
        <app-loading-message *ngIf="isLoading" class="w-full md:w-3/4"></app-loading-message>
      </div>
    </div>
    <app-chat-text-area
      [ngClass]="{'loading-background': isLoading}"
      class="flex justify-center border-t mt-5 bg-gray-100"
      (messageSent)="addMessage($event)"
      [isLoading]="isLoading">
    </app-chat-text-area>
  </div>
</div>
