<!-- record-message.component.html -->
<div *ngIf="isLoading; else recordMessage">
  <app-loading-message class="w-full md:w-3/4"></app-loading-message>
</div>

<ng-template #recordMessage>
  <div class="flex mb-4">
    <img src="/user2.png" class="w-10 h-10 rounded-full mr-2">
    <div class="received-color rounded-lg flex flex-col gap-5">
      <!-- Repeat for each audio item -->
      <div *ngFor="let item of audioItems; let i = index" class="player horizontal mb-4">
        <div class="wrapper">
          <div class="info-wrapper">
            <div class="info">
              <p class="text-justify p-3">
                {{ item.shortText }}
              </p>
            </div>
          </div>

          <div class="controls audio-rectangle">
            <!-- Play/Pause Button -->
            <div class="play cursor-pointer" (click)="togglePlay(i)">
              <app-pause-icon *ngIf="item.isPlaying" class="text-white"/>
              <app-play-icon *ngIf="!item.isPlaying" />
            </div>
          </div>

          <!-- Track and Time -->
          <!-- <div class="track-time">
            <div class="track"></div>
            <div class="time flex gap-3 p-1">
              <div class="total-time">03:20</div>
              <div class="total-time">-</div>
              <div class="last-time">00:12</div>
            </div>
          </div> -->
        </div>
      </div>

      <!-- <span class="text-xs text-gray-600 p-3">8:40 AM, Today</span> -->
    </div>
  </div>
</ng-template>
