<div *ngIf="isLoading; else recordMessage">
  <app-loading-message class="w-full md:w-3/4"></app-loading-message>
</div>

<ng-template #recordMessage>
  <div class="flex mb-4">
    <img src="/gbt-logo.webp" class="w-10 h-10 rounded-full mr-2">
    <div class="received-color rounded-lg flex flex-col gap-5 w-full">
      <!-- Repeat for each audio item -->
      <div *ngFor="let item of audioItems; let i = index" class="player horizontal mb-4 w-full">
        <div class="wrapper">
          <div class="info-wrapper">
            <div class="info">
              <p class="text-justify p-3">
                {{ item.shortText }}
              </p>
            </div>
          </div>

          <!-- Standard HTML Audio Element with conditional autoplay -->
          <audio [src]="item.url" controls [autoplay]="i === audioItems.length - 1" class="w-full">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>

      <!-- <span class="text-xs text-gray-600 p-3">8:40 AM, Today</span> -->
    </div>
  </div>
</ng-template>
