<div class="p-4 w-full md:w-3/4" [ngClass]="{'loading-background': isLoading}">
  <div
    [ngClass]="{'loading-background': isLoading}"
    class="flex justify-center items-center gap-1">
    <!-- Dropdown for Voice Type -->
    <select [(ngModel)]="selectedVoice"
      [ngClass]="{'loading-voice': isLoading}"
      class="border-2 p-2 bg-blue-950 text-white cursor-pointer rounded-lg"
      [disabled]="isLoading">
      <option *ngFor="let voice of voices" [value]="voice"
        [ngClass]="{'loading-voice': isLoading}"
        class="cursor-pointer">{{ voice }}</option>
    </select>
    <input
      [ngClass]="{'loading-background': isLoading}"
      type="text"
      [(ngModel)]="message"
      class="flex-1 p-2 rounded-l bg-white border-2 text-black"
      placeholder="Type your message..."
      (keyup.enter)="sendMessage()"
      [disabled]="isLoading" />

    <!-- Send Icon (Triggers sendMessage) -->
    <label class="cursor-pointer" style="width: 25px;" (click)="sendMessage()">
      <app-send-icon
        [ngClass]="{'not-allowed': isLoading}"
        style="width: 25px;" class="text-blue-950" />
    </label>
    <!-- File Upload Input -->
    <label for="file-upload" class="cursor-pointer " style="width: 25px;">
      <app-upload-icon
        [ngClass]="{'not-allowed': isLoading}"
        style="width: 25px;" class="text-blue-950" />
    </label>
    <input
      id="file-upload"
      type="file"
      class="hidden"
      (change)="handleFileUpload($event)"
      accept=".pdf,.doc,.docx,image/*"
      [disabled]="isLoading" />
  </div>
</div>
